.cookie-solution__config {
  padding: 2rem;
  border: 1px solid #4d4d4d;
}

.cookie-solution__config > * {
  width: 200px;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: #1CC691;
  color: #efefef;
  font-size: larger;
}

.cookie-solution__config > *.enabled {
  background-color: red;
}
