.body {
  padding: 1rem;
}

.container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.three-columns {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.three-columns > * {
  display: block;
  margin: 1rem auto;
}

@media screen and (min-width: 960px) {
  .three-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
