:root {
  --cookie-solution-primary: #1CC691;
  --cookie-solution-bg-dark: #4d4d4d;
  --cookie-solution-bg-light: #efefef;
  --cookie-solution-text-dark: #efefef;
  --cookie-solution-text-light: #4d4d4d;
  --cookie-solution-font-family: Roboto, Arial, sans-serif;
}

.cookie-solution {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  background: var(--cookie-solution-bg-dark);
  color: var(--cookie-solution-text-dark);
  font-family: var(--cookie-solution-font-family);
  font-size: larger;
  transform: translateY(100%);
}

.cookie-solution.show {
  transform: translateY(0);
  transition: 400ms;
}

.cookie-solution__container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.cookie-solution__text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cookie-solution__purposes-list {
  padding: 0 0 1rem;
  margin: 0;
  list-style-type: none;
}

.cookie-solution__purposes-list > li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cookie-solution__purposes-list > li:first-child {
  margin-bottom: 0;
}

.cookie-solution__actions {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cookie-solution__actions > * {
  margin-right: 1rem;
}

.cookie-solution__actions button {
  padding: 0.5rem 2rem;
  background: var(--cookie-solution-bg-light);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  appearance: none;
  color: var(--cookie-solution-text-light);
}

.cookie-solution__actions button:hover {
  opacity: 0.7;
}

.cookie-solution-edit {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.cookie-solution-edit button {
  padding: 0.5rem 2rem;
  background: var(--cookie-solution-bg-light);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  appearance: none;
  color: var(--cookie-solution-text-light);
}

.cookie-solution-edit button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 960px) {
  .cookie-solution__actions {
    justify-content: flex-end;
  }

  .cookie-solution__purposes-list > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
